section{
    margin-top: 18rem;
}
.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div {
  background: var(--color-bg-varient);
  padding: 2.4rem 4rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.experience__container > div h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #eb660d;
}
.experience__duration {
  color: var(--color-light);
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.experience__details {
  display: flex;
  align-items: center;
}
.experience__details h4 {
  padding-left: 4px;
  font-size: 1rem;
}
.experience__deatils-icons {
  font-size: 1.2rem;
}

/* MEDIA QUERY (Tablets)*/
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
       
      }
      .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
      }
}

/* MEDIA QUERY (Mobiles)*/
@media screen and (max-width: 600px) and (orientation: portrait) {
    .experience__container {
        gap: 1rem;
       
      }
      .experience__container > div {
        width: 100%;
        padding:  2rem 1rem;
        /* margin: 0 auto; */
      }
}
